news-platform-backend-eb75e-firebase-adminsdk-fbsvc-5b37da6380.json
.env

__pycache__/
*.pyc
*.pyo
*.pyd


venv/
venv/
venv/
venv/
venv/
venv/
.venv/
env/
ENV/
venv310/
*.egg-info/

node_modules/


.DS_Store



